@charset "utf-8";
/*헤더영역*/
#header{width:100%; background:#fff; position:fixed; top:0; left:0; z-index:300;}
#header:after{display: block; content:""; width:100%; border-bottom: 1px solid #777;}
#headerIn{width:980px; height:91px; background:#fff; margin:0 auto; position:relative; overflow: hidden;}


h1{padding-top:21px;}
h1 img{width:auto; height:53px;}

.gnb{position: absolute; top:40px; left:223px;}
.gnb h2{display: none;}
.gnb>ul{}
.gnb>ul>li{float:left; margin-right:55px; text-align: center;}
.gnb>ul>li>a{font-size:16px; font-weight:500;}
.gnb>ul>li:hover>a{color:#c40e3e;}

.gnb>ul>li>.sub{margin-top:35px; text-align: center;}
.gnb>ul>li>.sub>ul{}
.gnb>ul>li>.sub>ul>li{padding:5px 0;}
.gnb>ul>li>.sub>ul>li>a{font-size:13px; color:#555;}
.gnb>ul>li>.sub>ul>li:hover>a{color:#c40e3e; text-decoration: underline;}

.utill{position:absolute; top:10px; right:0;}
.utill li{float:left; margin-left:10px; padding-left:10px; border-left:1px solid #333; line-height:12px;}
.utill li:first-child{margin-left:0; padding-left:0; border:none;}
.utill li:hover a{text-decoration:underline}

/*푸터영역*/
#footer{width:100%; height:238px; background:#c20430;}
#foonterIn{width:980px; height:238px; margin:0 auto; position:relative;}

.flogo{padding-top:44px;}

.fbox{position:absolute; top:57px; left:174px;}
.fbox .fmenu{}
.fbox .fmenu li{position:relative; float:left; margin-right:36px; margin-bottom:38px;}
.fbox .fmenu li a{}
.fbox .fmenu li a .on{position:absolute; top:0; left:0; opacity:0; transition:opacity .3s;}
.fbox .fmenu li:hover a .on{opacity:1;}

.fbox .finfo{color:#fff; margin-bottom:29px;}
.fbox .finfo p{}
.fbox .finfo .i1{margin-bottom:7px;}
.fbox .finfo span{margin-right:8px; padding-right:8px; border-right:1px solid #fff; line-height:12px;}
.fbox .finfo .last{margin-right:0; padding-right:0; border:none;}
.fbox .copy{color:#f3f3f3;}

.fsns{position:absolute; top:52px; right:155px;}
.fsns li{float:left; margin-right:7px;}
.fsns li a{display:block; text-indent:-9999px; width:34px; height:34px; background:url(../img/fsns.png) no-repeat }
.fsns .f1 a{}
.fsns .f2 a{background-position:-42px 0;}
.fsns .f3 a{background-position:right 0;}

.fsns li:hover a{width:34px; height:34px; background:url(../img/fsns_on.png) no-repeat}
.fsns .f1:hover a{}
.fsns .f2:hover a{background-position:-42px 0;}
.fsns .f3:hover a{background-position:right 0;}

.family{position:absolute; top:54px; right:0;}
.family select{width:130px; height:30px; border:1px solid #fff; background:#c20430; color:#fff; padding:6px 13px; font-size:12px; border-radius: 3px;}