@charset "utf-8";
html {
    background: url(../img/piano.jpg);
    background-size: cover;
  }

.keys{
    display: flex;
    justify-content: center;
    padding-top:300px;

}

.key{
    border:4px solid black;
    border-radius: 5px;
    margin:1rem;
    font-size:1.5rem;
    padding:1rem .5rem;
    transition: all 0.07s;
    width:100px;
    text-align:center;
    color:#fff;
    background:rgba(0,0,0,0.4);
    text-shadow:0 0 5px black;
}

.playing{
    transform:scale(1.1);
    border-color:#ffc600;
    box-shadow:0 0 10px #ffc600;
}

.sound{
    display: block;
}
@media (max-width: 500px){
    .keys {
        padding-top: 146px;
    }
}

